<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Process</title>
    <span th:include="common/templates :: common-css-js"></span>
    <span th:include="common/templates :: init-menu"></span>
    <span th:include="common/templates :: bootstrap-table"></span>
</head>
<body>
<div th:replace="common/templates :: header"></div>
<div class="container">

    <div class="page-header">
        <div class="h3">MY PROCESS</div>
    </div>
    <table id="records-info"></table>
</div>
</body>
<script th:inline="text">
    $('#records-info').bootstrapTable({
        url: "[[@{/Process/page}]]?current=1",//请求数据url
        showRefresh: true,
        smartDisplay: true,
        showToggle: true,
        paginationPreText: '上一页',
        paginationNextText: '下一页',
        pagination: true,//分页
        pageNumber: 1,
        pageSize: 15,
        pageList: [10, 20, 30, 50, 'all'],//分页步进值
        search: true, //显示搜索框
        sidePagination: 'server',//服务器端分页
        queryParams: function (params) {
            params['size'] = params['limit'];
            params['current'] = (params['offset'] + params['limit']) / params['limit'];
            return params;
        },
        columns: [
            {
                field: 'id',
                title: 'ID',
                sortable: true
            },
            {
                field: 'processName',
                title: '流程名',
            },
            {
                field: 'startTime',
                title: '开始时间',
            },
            {
                field: 'endTime',
                title: '结束时间',
            },
            {
                field: 'creatorName',
                title: '创建人',
            },
            {
                field: 'taskName',
                title: '任务名',
            },
            {
                field: 'assigneeNameSet',
                title: '任务审核人',
                formatter: function (value, row, index) { // 单元格格式化函数

                    var str = "";

                    for (var i = 0; i < value.length; i++) {
                        str += value[i];
                        if (i < value.length - 1) {
                            str += " ，"
                        }
                    }
                    return str;
                }
            },
            {
                field: 'id',
                title: '详情',
                formatter: function (value, row, index) { // 单元格格式化函数

                    var processDefinitionKey = row['processDefinitionKey'];
                    var step = row['taskDefinitionKey'];
                    var str = "<a class='btn btn-default' target='_blank' href='[[@{/view/WorkFlow/}]]" + processDefinitionKey + "/" + step + "/" + value + "' ><i class='glyphicon glyphicon-file'></i></a>";

                    return str;
                }
            },
        ]
    })
</script>
</html>