<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process AuditStatus</title>
    <span th:include="common/templates :: common-css-js"></span>
    <span th:include="common/templates :: init-menu"></span>
    <span th:include="common/templates :: bootstrap-table"></span>
</head>
<body>
<div th:replace="common/templates :: header"></div>
<div class="container">

    <div class="page-header">
        <div class="h3">Process AuditStatus
        </div>
    </div>
    <table id="records-info"></table>
</div>
</body>
<script th:inline="text">

    $('#records-info').bootstrapTable({
        url: "[[@{/ProcessAuditStatus/all}]]",//请求数据url
        showRefresh: true,
        smartDisplay: true,
        showToggle: true,
        paginationPreText: '上一页',
        paginationNextText: '下一页',
        pagination: true,//分页
        pageNumber: 1,
        pageSize: 15,
        pageList: [10, 20, 30, 50, 'all'],//分页步进值
        search: true, //显示搜索框
        columns: [
            {
                field: 'id',
                title: '编号',
            },
            {
                field: 'processDefinitionKey',
                title: '流程定义',
            },
            {
                field: 'processDefinitionId',
                title: '流程定义ID',
            },
            {
                field: 'userTask',
                title: '任务节点',
            },
            {
                field: 'auditCode',
                title: '审批状态',
            },
            {
                field: 'auditMessage',
                title: '审核信息',
            },
        ]
    })
</script>
</html>