<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!--配置全局变量 -->
	<settings>
		<!-- jdbc用getGeneratedKeys 获取数据库自增键值 -->
		<setting name="useGeneratedKeys" value="true" />
		<!-- 使用列别名替代列名 select name as title from table -->
		<setting name="useColumnLabel" value="true" />
		<!-- 开启驼峰命名法: Table(create_time) ->createTime -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<plugins>
		<plugin interceptor="com.baomidou.mybatisplus.plugins.PaginationInterceptor"/>
	</plugins>

</configuration>